.App {

  text-align: center;

}
.header{
  display: flex;
  flex: 1;
  justify-content: space-around;
  color: black;
  font-family: sans-serif;
}
.watch{
  align-items: center;
  padding: 14% 0px;
  background-color: black;
  color: white;
}
button{
  background-color: white;
  border: none;
  border-radius: 100%;
  padding: 24px 15px;
}

